2.The college bookstore tells prospective students that the average cost of its 
textbooks is Rs. 52 with a standard deviation of Rs. 4.50. A group of smart statistics 
students thinks that the average cost is higher. To test the bookstore’s claim against 
their alternative, the students will select a random sample of size 100. Assume that 
the mean from their random sample is Rs. 52.80. Perform a hypothesis test at the 
5% level of significance and state your decision.

In [36]:
#H0: u=52
#H1: u>52(that means it is one tail)
import math
sig=5 
n=100
x=52.80
mu=52
sd=4.50
t=(x-mu)/(sd/math.sqrt(100))
t_tab=1.645
print(t)

1.7777777777777715
1.645

In [37]:
#here z-table value for 5% is 1.645

if(t<=t_tab):
    print("if t caluculated value is less than t-table value then accept H0")
else:
    print("if t caluculated value is greater than t-table value then reject H0")

if t caluculated value is less than t-table value then reject H0

3.A certain chemical pollutant in the Genesee River has been constant for several 
years with mean μ = 34 ppm (parts per million) and standard deviation σ = 8 ppm. A 
group of factory representatives whose companies discharge liquids into the river is 
now claiming that they have lowered the average with improved filtration devices. A 
group of environmentalists will test to see if this is true at the 1% level of 
significance. Assume \ that their sample of size 50 gives a mean of 32.5 ppm. 
Perform a hypothesis test at the 1% level of significance and state your decision

In [31]:
#H0: u=34 #A group of factory representatives whose companies discharge liquids into the river is now claiming that they have lowered the average with improved filtration devices
#H1: u<34(that means it is one tail)
import math
sig=1
n=50
x=32.5
mu=34
sd=8
z=(x-mu)/(sd/math.sqrt(50))
import scipy.stats
t_table=scipy.stats.t.ppf(q=1-.01,df=n-1)
print(z_tab)
if(t<=t_table):
    print("if t caluculated value is less than t-table value then accept H0")
else:
    print("if t caluculated value is greater than t-table value then reject H0")

2.0738730679040147
if t caluculated value is less than t-table value then accept H0

4.Based on population figures and other general information on the U.S. population, 
suppose it has been estimated that, on average, a family of four in the U.S. spends 
about $1135 annually on dental expenditures. Suppose further that a regional dental 
association wants to test to determine if this figure is accurate for their area of 
country. To test this, 22 families of 4 are randomly selected from the population in 
that area of the country and a log is kept of the family’s dental expenditure for one 
year. The resulting data are given below. Assuming, that dental expenditure is 
normally distributed in the population, use the data and an alpha of 0.5 to test the 
dental association’s hypothesis.
 1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,872, 913, 944, 954, 987, 1695, 995, 1003, 99

In [30]:
#H0 u= family of four in the U.S. spends about $1135 annually on dental expenditures. 
#H1 u!=u1 it is alternative to the null hypothesis
# finding mean of the given data
# t-test for single mean when sd of sample is not given directly
import numpy as np
import math
import scipy.stats
a=np.array([1008, 812, 1117, 1323, 1308, 1415, 831, 1021, 1287, 851, 930, 730, 699,872, 913, 944, 954, 987, 1695, 995, 1003, 99 ])
mean=np.mean(a)
sd=np.std(a)
n=22
#here we dividing the alpha value with 2 because the problem is two tail
alpha=0.5/2
x=1135
t=(x-mu)/(sd/math.sqrt(n))
print(t)
#find T critical value
t_table=scipy.stats.t.ppf(q=1-.05/2,df=22)
print(z_tab)
if(t<t_table):
    print("if z caluculated value is less than t-table value then accept H0")
else:
    print("if z caluculated value is greater than z-table value then reject H0")

-727.665175568296
2.0738730679040147
if z caluculated value is less than t-table value then accept H0

5.In a report prepared by the Economic Research Department of a major bank the 
Department manager maintains that the average annual family income on Metropolis 
is $48,432. What do you conclude about the validity of the report if a random sample 
of 400 families shows and average income of $48,574 with a standard deviation of 
2000

In [28]:
# H0, u=48432 the economic research department of a major bank the department manager maintains that the average annual family income on Metropolis
# H1, u!=u1
mu=48432
n=400
x=48574
sd=2000
alpha=0.05
t=(x-mu)/(sd/math.sqrt(n))
print(t)
t_table=scipy.stats.t.ppf(q=1-.05/2,df=n-1)
print(t_table)
if(t<t_table):
    print("if z caluculated value is less than t-table value then accept H0")
else:
    print("if z caluculated value is greater than than z-table value then reject H0")

1.42
1.965927295920809
if z caluculated value is less than t-table value then accept H0

6.Suppose that in past years the average price per square foot for warehouses in the 
United States has been $32.28. A national real estate investor wants to determine 
whether that figure has changed now. The investor hires a researcher who randomly 
samples 19 warehouses that are for sale across the United States and finds that the 
mean price per square foot is $31.67, with a standard deviation of $1.29. assume 
that the prices of warehouse footage are normally distributed in population. If the 
researcher uses a 5% level of significance, what statistical conclusion can be 
reached? What are the hypotheses?

In [40]:
# H0, u=32.28, A national real estate investor wants to determine whethere that figure has change now
# H1, u!=u1 this mean it is two tail
n=19 # The investore hires a reasearcher who randomly samples 19 warehouses
x=32.8
mean=31.67
sd=1.29
alpha=0.05
z=(x-mean)/(sd/math.sqrt(n))
t_table=scipy.stats.t.ppf(q=1-.05/2,df=n-1)
print(t_table)
if(t<t_table):
    print("if t caluculated value is less than t-table value then accept H0")
else:
    print("if t caluculated value is greater than t-table value then reject H0")

2.10092204024096
if t caluculated value is less than t-table value then accept H0

8:Find the t-score for a sample size of 16 taken from a population with mean 10 when 
the sample mean is 12 and the sample standard deviation is 1.5.

In [43]:
n=16
x=12
mean=10
sd=1.5
alpha=0.05
t=(x-mean)/(sd/math.sqrt(n))
print("t score for sample size of given population ",t)

t score for sample size of given population  5.333333333333333

11:Two-tailed test for difference between two population means
Is there evidence to conclude that the number of people travelling from Bangalore to 
Chennai is different from the number of people travelling from Bangalore to Hosur in 
a week, given the following:
Population 1: Bangalore to Chennai n1 = 1200
x1 = 452
s1 = 212
Population 2: Bangalore to Hosur n2 = 800
x2 = 523
s2 = 185

In [47]:
import math
#H0: Null Hypothesis u=u1
# H1 : Alternative Hypothesis u!=u1
#by default alpha value is 0.05
#Here the problem already gives it is a two-tailed test for difference between two population means
alpha=0.05
n1=1200
x1=452
s1=212
#Population 2 : Bangalore to Hosure 
n2=800
x2=523
s2=185
#formual for finding z=x1-x2/sqrt((s1**2/n1)+(s2**2/n2))
lower_value=math.sqrt(((s1**2)/n1)+((s2**2)/n2))
print(lower_value)
z=(x1-x2)/math.sqrt(((s1**2)/n1)+((s2**2)/n2))
print("difference between two population means",z)

8.957375917830698
difference between two population means -7.926428526759299

12: Is there evidence to conclude that the number of people preferring Duracell battery is 
different from the number of people preferring Energizer battery, given the following:
Population 1: Duracell
n1 = 100
x1 = 308
s1 = 84
Population 2: Energizer
n2 = 100
x2 = 254
s2 = 67

In [49]:
alpha=0.05
# Population 1: Duracell
n1 = 100
x1 = 308
s1 = 84
# Population 2: Energizer
n2 = 100
x2 = 254
s2 = 67
#formual for finding z=x1-x2/sqrt((s1**2/n1)+(s2**2/n2))
lower_value=math.sqrt(((s1**2)/n1)+((s2**2)/n2))
print(lower_value)
z=(x1-x2)/math.sqrt(((s1**2)/n1)+((s2**2)/n2))
print("difference between two population means",z)

10.74476616776745
difference between two population means 5.025702668336442

14.The manufacturers of compact disk players want to test whether a small price 
reduction is enough to increase sales of their product. Is there evidence that the 
small price reduction is enough to increase sales of compact disk players?
Population 1: Before reduction
n1 = 15
x1 = Rs. 6598 s1 = Rs. 844
Population 2: After reduction n2 = 12
x2 = RS. 6870
s2 = Rs. 669

In [15]:
# H0:the small price reduction is enough to increase sales of compact disk players
# H1 it completely alternative to the H0
#that means u!=u1 then it is two tail
# Population 1: Before reduction
import math
import scipy.stats
n1=15
x1=6598
s1=844
#population After reduction 
n2=12
x2=6870
s2=669
#t-test for difference of means( because here n<30)
#two samples with mean and sd
#formual for finding z=x1-x2/sqrt((s1**2/n1)+(s2**2/n2))
lower_value=math.sqrt(((s1**2)/n1)+((s2**2)/n2))
t=abs((x1-x2)/math.sqrt(((s1**2)/n1)+((s2**2)/n2)))
print("difference between two population means",t)
t_table=scipy.stats.t.ppf(q=1-.05/2,df=(n1+n2)-1)
if(t<t_table):
    print("if t caluculated value is less than t-table value then accept H0")
else:
    print("if t caluculated value is greater than t-table value then reject H0")

difference between two population means 0.9341299576730813
if t caluculated value is less than t-table value then accept H0

15:Comparisons of two population proportions when the hypothesized difference is zero 
Carry out a two-tailed test of the equality of banks’ share of the car loan market in 
1980 and 1995.
Population 1: 1980
n1 = 1000
x1 = 53
𝑝 1 = 0.53
Population 2: 1985
n2 = 100
x2 = 43
𝑝 2= 0.53

In [36]:
# given that,
# two population proportions whent the hypothesized difference is zero
#H0: p1-p2=0
# here the problem if difference of proportion two sample with no mean and sd
#H0: p1-p2!=0

#H1: P1!=P2 and this one is two tailed test of equality of bank
#population 1: 1980
n1=1000
x1=53
𝑝1=0.53
#population 2: 1985
n2=100
x2=43
𝑝2=0.53
D=0
p=((𝑝1*(1-𝑝1))/n1)+((𝑝2*(1-𝑝2))/n2)
z=((𝑝1-𝑝2)-D)/math.sqrt(p)
print(z)
print("Here we are getting zero values because two population proportions are equal")

0.0
Here we are getting zero values because two population proportions are equal

13.Pooled estimate of the population variance
Does the data provide sufficient evidence to conclude that average percentage
increase in the price of sugar differs when it is sold at two different prices?
Population 1: Price of sugar = Rs. 27.50 n1 = 14
x1 = 0.317%
s1 = 0.12%
Population 2: Price of sugar = Rs. 20.00 n2 = 9
x2 = 0.21%
s2 = 0.11

In [22]:
#price of sugar =27.50
n1=14
x1=0.317/100
s1=0.12/100
#population 2: price of sugar=20.00
n2=9
x2=0.21/100
s2=0.11/100
#H0: u1=u2
#H1: u1!=u2 (it is two tail)
# value of n is less than 30 then we will go with t-test
t=(x1-x2)/math.sqrt(((s1**2)/n1)+((s2**2)/n2))
t_table=scipy.stats.t.ppf(q=1-.05/2,df=(n1+n2)-1)
print(t_table)
if(t<t_table):
    print("if t caluculated value is less than t-table value then accept H0")
else:
    print("if t caluculated value is greater than t-table value then reject H0")

2.0738730679040147
if t caluculated value is greater than t-table value then reject H0

16: Carry out a one-tailed test to determine whether the population proportion of 
traveler’s check buyers who buy at least $2500 in checks when sweepstakes prizes 
are offered as at least 10% higher than the proportion of such buyers when no 
sweepstakes are on.
Population 1: With sweepstakes
n1 = 300
x1 = 120
𝑝1 = 0.40
Population 2: No sweepstakes n2 = 700
x2 = 140
𝑝 2= 0.2

In [31]:
#Comparisions of two population proportion when the hypothesized difference is not zero
#populations 1: with Sweepstakes
n1=300
x=120
𝑝1 = 0.40
#population 2: no Sweepstakes
n2=700
x2=140
𝑝2=0.20
D=0.10
#H0: p1-p2<=0.10
#H1: p1-p2>0.10
p=((𝑝1*(1-𝑝1))/n1)+((𝑝2*(1-𝑝2))/n2)
z=((𝑝1-𝑝2)-D)/math.sqrt(p)
print(z)
#level of significance is not mentioned here then we will go with 5% significance and it is one tail
sig=1.645
print("here z caluculated value is not less than the z_table value")
print("then we simply reject H0")

3.1180478223116177
here z caluculated value is not less than the z_table value
then we simply reject H0

10: If a random sample of size 25 drawn from a normal population gives a mean of 60 
and a standard deviation of 4, find the range of t-scores where we can expect to find 
the middle 95% of all sample means. Compute the probability that (−𝑡0.05 <𝑡<𝑡0.10).

In [ ]:
n=25
mean=60
sd=4


#range of t-score
t=(x-mean)/(sd*math.sqrt(n-1))
t_table=scipy.stats.t.ppf(q=1-.95,df=25-1)

9.Find the t-score below which we can expect 99% of sample means will fall if samples 
of size 16 are taken from a normally distributed population.

In [44]:
#formula for finding t-score and code
t_table=scipy.stats.t.ppf(q=1-.99,df=16-1)
t_table

-2.602480294995493

17: A die is thrown 132 times with the following results: Number turned up: 1, 2, 3, 4, 5, 6
Frequency: 16, 20, 25, 14, 29, 28
Is the die unbiased? Consider the degrees of freedom as 𝑝 − 1

In [60]:
#H0 u=u1 the die is unbiased
#H1 u!=u1 the die is not unbiased
# A die is thrown 132 times
#chi-square (o-e)**2/e
import numpy as np
x=np.array([1, 2, 3, 4, 5, 6])
fx=np.array([16, 20, 25, 14, 29, 28])
n=6
#test statistcs
#on the hypothesis that the die is unbiased we should expect the frequency of each number to be 
x=np.array([16, 20, 25, 14, 29, 28])
mean=np.mean(x)
xcal=0
for i in range(len(x)):
    xcal1=x[i]-mean
    xcal+=(xcal1**2)/mean
print(xcal)
df=6-1
xtab=11.076
if(xcal<=xtab):
    print("die is unbiased")
else:
    print("die is biased")

9.0
die is unbiased

19: A sample of 100 voters are asked which of four candidates they would vote for in an 
election. The number supporting each candidate is given below:
Do the data suggest that all candidates are equally popular? [Chi-Square = 14.96, 
with 3 df, 𝑝 0.05 .

In [63]:
x=np.array([41,19,24,16])
mean=np.mean(x)
xcal=0
for i in range(len(x)):
    xcal1=x[i]-mean
    xcal+=(xcal1**2)/mean
xcal
df=3
xtab=7.8

if(xcal<=xtab):
    print("they would vote for in an election")
else:
    print("they would never vote for in an election")

they would never vote for in an election

18: In a certain town, there are about one million eligible voters. A simple random 
sample of 10,000 eligible voters was chosen to study the relationship between 
gender and participation in the last election. The results are summarized in the 
following 2X2 (read two by two) contingency table:
We would want to check whether being a man or a woman (columns) is independent of 
having voted in the last election (rows). In other words, is “gender and voting independent”?

In [64]:

observed_voted_men=2792
observed_voted_women=3591
observed_not_voted_men=1486
observed_not_voted_women=2131
total_voted=2792+3591
total_not_voted=1486+2131
total_men=2792+1486
total_women=3591+2131
expected_voted_men=(total_voted*total_men)/10000
expected_voted_women=(total_voted*total_women)/10000
expected_not_voted_men=(total_not_voted*total_men)/10000
expected_not_voted_women=(total_not_voted*total_women)/10000
chisquare1=(((observed_voted_women-expected_voted_women)**2)/expected_voted_women)
chisquare2=(((observed_voted_men-expected_voted_men)**2)/expected_voted_men)
chisquare3=(((observed_not_voted_men-expected_not_voted_men)**2)/expected_not_voted_men)
chisquare4=(((observed_not_voted_women-expected_not_voted_women)**2)/expected_not_voted_women)
chisquare=chisquare1+chisquare2+chisquare3+chisquare4
print(f"Chi Square value is {chisquare}")
print(f"Critical region with alpha=0.05 is 3.84")
print("We reject null hypothesis.It is not gender and voting independent")

Chi Square value is 6.660455899328067
Critical region with alpha=0.05 is 3.84
We reject null hypothesis.It is not gender and voting independent


21: A study of conformity using the Asch paradigm involved two conditions: one where one confederate supported the true judgement and another where no confederate gave the correct response. image.png Is there a significant difference between the "support" and "no support" conditions in the frequency with which individuals are likely to conform? [Chi-Square = 19.87, with 1 df: 𝑝 < 0.05].

In [68]:
import scipy.stats as stats
from scipy.stats import chi2_contingency
obs=np.array([[18,40],[32,10]])
result=chi2_contingency(obs)
print(f"Chi Square value is {result[0]}")
print(f"Critical region with 1df and alpha=0.001 is 10.83")
print("We reject null hypoythesis.So,there is significant difference between the 'support' and 'no support' conditions in the frequency with which individuals are likely to conform")

Chi Square value is 18.10344827586207
Critical region with 1df and alpha=0.001 is 10.83
We reject null hypoythesis.So,there is significant difference between the 'support' and 'no support' conditions in the frequency with which individuals are likely to conform

20: Children of three ages are asked to indicate their preference for three photographs of adults. Do the data suggest that there is a significant relationship between age and photograph preference? What is wrong with this study? [Chi-Square = 29.6, with 4 df: 𝑝 < 0.05].

In [69]:
obs=([[18,22,20],[2,28,40],[20,10,40]])
result=chi2_contingency(obs)
print(f"Chi Square value is {result[0]}")
print(f"Critical region with 4df and alpha=0.001 is 18.47")
print("We reject null hypothesis.There is significant relationship between age and photograph preference")

Chi Square value is 29.603174603174608
Critical region with 4df and alpha=0.001 is 18.47
We reject null hypothesis.There is significant relationship between age and photograph preference

We want to test whether short people differ with respect to their leadership qualities (Genghis Khan, Adolf Hitler and Napoleon were all stature-deprived, and how many midget MP's are there?) The following table shows the frequencies with which 43 short people and 52 tall people were categorized as "leaders", "followers" or as "unclassifiable". Is there a relationship between height and leadership qualities? [Chi-Square = 10.71, with 2 df: 𝑝 < 0.01].

In [70]:
obs=([[12,32],[22,14],[9,6]])
result=chi2_contingency(obs)
print(f"Chi Square value is {result[0]}")
print(f"Critical region with 2df and alpha=0.001 is 13.82")
print("We accept null hypothesis.there is no relationship between height and leadership qualities")

Chi Square value is 10.712198008709638
Critical region with 2df and alpha=0.001 is 13.82
We accept null hypothesis.there is no relationship between height and leadership qualities

23: Each respondent in the Current Population Survey of March 1993 was classified as employed, unemployed, or outside the labor force. The results for men in California age 35- 44 can be cross-tabulated by marital status, as follows: image.png Men of different marital status seem to have different distributions of labor force status. Or is this just chance variation? (you may assume the table results from a simple random sample.)

In [71]:
obs = np.array([[679,103,114], [63,10,20],[42,18,25]])
result=chi2_contingency(obs)
print(f"Chi Square value is {result[0]}")
print(f"Critical region with 4df and alpha=0.001 is 18.47")
print("We reject null hypothesis at alpha=0.001 .there is relationship between martial status and employment status")

Chi Square value is 31.61310319407798
Critical region with 4df and alpha=0.001 is 18.47
We reject null hypothesis at alpha=0.001 .there is relationship between martial status and employment status

In each of the following situations, state whether it is a correctly stated hypothesis testing problem and why?
1. 𝐻0: 𝜇 = 25, 𝐻1: 𝜇 ≠ 25
2. 𝐻0: 𝜎 > 10, 𝐻1: 𝜎 = 10
3. 𝐻0: 𝑥 = 50, 𝐻1: 𝑥 ≠ 50
4. 𝐻0: 𝑝 = 0.1, 𝐻1: 𝑝 = 0.5
5. 𝐻0: 𝑠 = 30, 𝐻1: 𝑠 > 30

1: Yes, because values in both are statement about population or distribution, have equal values and has inequality in ull hypothesis.
2: No, because null hypothesis has an eqaulity claim and alternate hypothesis has inequality.
3: No, because hypothesis is stated in terms of statistics and not sample data 4. No, because values in both hypothesis is different and has equal sign.
4: No, because hypothesis are always statements about population or distribution and not about sample